*{
    padding: 0;
    margin: 0;
   background-color: #cda278;
   /* background-color: rgb(203,160,117); */
}
/* .nav-bar{
    background-image: url("istockphoto-1126896408-612x612-removebg-preview.png");

}  */

.navbar{
    display: flex;
    justify-content: space-between;
    
}
.navigations{
    display: flex;
    gap: 2em;
    list-style-type: none;
    text-transform: capitalize;
   
}
.navigations a{
    text-decoration: none;
    color: black;
}
.hero-container{
    position: relative;
    max-height: 500px;
}
.header{
    position: absolute;
    /* width: 100%;
    height: 100%;
    max-height: 500px; */
}
.img-header{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    /* background-color: rgb(46,85,97); */
 
} 
.header{
text-align: center;
}
.introduction{
    text-align: center;
}
.intoduction-p{
    display: flex;
    gap: 2em;
}
.right{
    padding: 0 150px;
}
.left{
    padding: 0 150px;
}
.image-camel{
    text-align: center; 
}
.content-header{
    text-align: center;
}
.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.information{
    display: flex;
    flex-direction: column;
align-items: center;
padding: 5rem;
}
 /* .image-Tutankhamun{
    width: 70px;
    height: 50px;
}
.image-cat{
    width: 70px;
    height: 50px;
} */
.read-more{ 
    padding: 8px 15px;
    color: black;
    border: none;
    border-bottom: 2px solid black;
}
.more-content-header{
    text-align: center;
}
.multiple-images{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
    /* gap: 1px; */
    padding-top: 30px;

} 
.image{
height: 500px;
width: 100%;
max-width: 400px;

}
/* .image-1{
float: left;
}
.image-1{
     height: 80px;
    width: 70spx; 
}
.image-1{
position: start;
} */
.extras-header{
    text-align: center;
}
.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-top: 2px solid black;

}
.show-more{
    padding: 10px 40px;
    margin-top: 30px;
    border: 1px solid black;
    background-color: transparent;
}
.extras-logos{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.book-now{
    padding: 10px 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
}
